.dashboard {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;

  }
  .dashboard__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 3rem;
  }
  .dashboard__btn {
    padding: .3rem;
    font-size: 18px;
    border: none;
    color: white;
    background-color: black;
  }
  .HeaderSection{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
    background-color:#005EB8;
    padding-top: 1rem ;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ImageHeader{
   width: auto;
  }
  .QRImageHeader{
    width: 200px;
    height: 200px;
  }
  .RightHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    color: #fff;
    align-items: center;
    font-weight: 700;

  }
  .SubHeading{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
  }
  .SmallHeading{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  .selected_dashboard__btn{
    padding: .3rem;
    font-size: 18px;
    border: none;
    color: black;
    background-color: white;
  }
  .dashboard div {
    margin-top: 7px;
  }
  .formheading{
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .Input{
    resize: none;
    border-radius: .5rem;
    width: 20rem;
    height: 2rem;
    font-size: 1rem;
    padding-top: .7rem;
  }
  .TableForm{
    display: flex;
    gap:2rem;
    flex-direction: row;
  }
  .headerTable{
    font-weight: 600;
  }
  .headingCloumn{
    display: flex;
  align-items: center;
  color: #fff;
  background-color: #000;
  
  }
  .Columns{
    display: flex;
    flex-direction: column;
  }
  .TableStyle{
    width: 25rem;
    border: 1 solid #000;
  }
  .TableInput{
    padding-top: .7rem;
    resize: none;
    border-radius: .5rem;
    font-size: 1rem;
  }
  .TableInputIn{
    padding-top: .7rem;
    width: 3rem;
    height: 1rem;
    resize: none;
    font-size: 1rem;
    border-radius: .5rem;
  }
  .headingCloumn2{
    background-color: #005EB8;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .TableStyle{
    border: 1px solid #000;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  select{
    border: none;
  }
.ButtonSection{
  display: flex;
  align-self: flex-end;

}
button{
  background-color: gray;
  color: #000;
  padding: .8rem;
}